*{
  margin: 0;
  padding: 0;
}

html,
body{
  /* Font Family */
}

.App{
  width: 100%;
  height: 100vh;
  background-color: #CE5959;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons{
  display: flex;
  margin-top: 25px;
  color: white;
  gap: 50px;
}

.play-pause, .reset{
  cursor: pointer;
}

.play-pause:active, .reset:active{
  cursor: pointer;
  color: #850000;
  transform: scale(110%);
}

.hidden{
  display: none;
}

